<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="ErrorFile" fileName="logs/error.log" bufferedIO="false"
			advertise="true">
			<ThresholdFilter level="error" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<!-- 按日期每天生成log文件 -->
		<RollingFile name="RollingFile" fileName="logs/info.log"
			filePattern="logs/info-%d{yyyy-MM-dd}.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<!-- 输出info级别信息 -->
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="ErrorFile" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>